<sly>
    <div data-sly-use.model="com.mysite.core.models.HelloWorldModel">
        Org Name : ${model.orgName}
    </div>
    <div data-sly-use.model="com.mysite.core.models.HelloWorldModel">
        Description: ${model.description}
    </div>
    <div data-sly-use.model="com.mysite.core.models.HelloWorldModel">
        Number of Employees : ${model.noOfEmployees}
    </div>
    <div data-sly-use.model="com.mysite.core.models.HelloWorldModel">
        Location : ${model.location}
    </div>
    <div data-sly-use.model="com.mysite.core.models.HelloWorldModel">
        Services : ${model.services}
    </div>
</sly>